<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   CICDExample

   Created by Nitin Varda on 10/22/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
   <dict>
      <key>AppSecret</key>
      <string>d6d5c64d-ccfc-4d85-9d6d-7fd1abc73c6a</string>
   </dict>

</plist>
